{
    "parser": "@typescript-eslint/parser",
    "ignorePatterns": ["node_modules/"],
    "env": {
        "browser": true,
        "node": true
    },
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error", { "endOfLine": "auto" }]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "alias": {
                    "@": "./src",
                    "@ui": "./src/components/ui"
                }
            }
        }
    }
}
